@model Movie

<link rel="stylesheet" href="~/css/detail.css" />

<div class="row">
    <div class="col-6 offset-3">
        <div class="card text-center">
            <img src="@Model.ImgUrl" class="card-img-top"
                 alt="@Model.Name" width="350" height="450">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
