@model Movie

<div asp-validation-summary="All"
     class="alert alert-danger"></div>
<form asp-action="SaveMovie">
    <input asp-for="Id" hidden value="0" />
    <div class="mb-3">
        <label class="form-label">Film Adı</label>
        <input type="text"
               class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Film Resmi</label>
        <input type="text"
               class="form-control" asp-for="ImgUrl">
    </div>
    <div class="mb-3">
        <label class="form-label">Film Yıldızı</label>
        <input type="number"
               class="form-control" asp-for="StarRate">
    </div>
    <button type="submit" class="btn btn-primary">Filmi Kaydet</button>
</form>